# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# npm
/node_modules

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store
